p{
    font-size: 20px;

    font-weight: bold;

}
img{
    width: 300px;
    height: 250px;

}
div{
    background-color: aquamarine;
    padding-left: 30px;
    margin-right: 30px;
}
.\.division1{
    background-color: brown;
}
.division2{
background-color: aliceblue;
}
#main{
    display: flex;
    padding-top: 30px;
}
#animal{
    display: grid;
}
.mk{
    display: flex;
}
p{
    margin-left: 30px;

}
img{
    height: 100%;
    width: 150px;
}

}




